<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="Sechs"
		class="de.ShiningPho3nix.Lotto.SechsAusNeunundvierzig">
	</bean>

	<bean id="Euro" class="de.ShiningPho3nix.Lotto.Eurojackpot">
	</bean>

	<bean id="tippGenSechs"
		class="de.ShiningPho3nix.Lotto.TippGenerator">
		<constructor-arg>
			<ref bean="Sechs" />
		</constructor-arg>
	</bean>

	<bean id="tippGenEuro"
		class="de.ShiningPho3nix.Lotto.TippGenerator">
		<constructor-arg>
			<ref bean="Euro" />
		</constructor-arg>
	</bean>
</beans>